<h1>Admin Dashboard</h1>
<div class="admin-actions">
  <%= link_to 'View All Donations', admin_donations_path, class: 'btn btn-primary' %>
  <%= link_to 'List of Donors', admin_donors_path, class: 'btn btn-secondary' %>
</div>